* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c1d6dc;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor:
    url(/stamp-cursor.png) 45 30,
    crosshair;
}

.info-link:hover {
  color: #d55e37 !important;
}
